<html>
<head>
	<meta charset='utf-8'>
	<title>Edaqa's Secret Sharing — Recover</title>
	<script>{% include 'secrets.js' %}</script>
	<script>{% include 'encoding.js' %}</script>
	<style>{% include 'style.css' %}</style>
	
	<script>
		function disassemble_message(message) {
			// is it a plain encoded message
			if( message.match(/^[0-9a-f\s]$/) ) {
				return [message.replace(/\s/g,''), true]
			}
			
			const open = message.indexOf(header_block)
			const close = message.indexOf(footer_block)
			if (open == -1 || close == -1) {
				return ['', false]
			}
			
			return [message.slice(open + header_block.length, close).replace(/\s/g,''), true]
		}
		
		let share_count = 0
		function add_share() {
			share_count += 1
			const new_share = `<h3>Code #${share_count}</h3><textarea id='secret-${share_count}'></textarea>`
			const child = document.createElement('div')
			child.id = `div-share-${share_count}`
			child.innerHTML = new_share
			document.getElementById('shares').appendChild(child)
		}
		
		function remove_share() {
			if (share_count < 1) {
				return
			}
			
			const to_remove = document.getElementById(`div-share-${share_count}`)
			document.getElementById('shares').removeChild(to_remove)
			share_count -=1
		}
		
		function decode() {
			const output_message = document.getElementById('output-message')
			output_message.value = 'decoding...'
			
			let shares = []
			let all_okay = true
			for (let i=1; i <= share_count; ++i ) {
				const message = document.getElementById(`secret-${i}`).value
				const [chunk, okay] = disassemble_message(message)
				shares.push(chunk)
				all_okay = all_okay && okay
			}
			console.log(shares)
			const raw = secrets.combine(shares)
			const message = secrets.hex2str(raw)
			if (!all_okay) {
				output_message.value = 'one of the inputs is invalid'
			} else {
				output_message.value = message
			}
		}
		
		window.onload = () => {
			add_share()
			add_share()
		}
	</script>
</head>
<body>

<div class='region'>
<h1>Edaqa's Secret Sharing</h1>
<h2>A secret sharing tool by by <a href='https://edaqa.com/'>Edaqa Mortoray</a></h2>

<p>This tool can be used to decode shared secrets. Collect the codes from enough recipients and add them to the inputs below.</p>

<div id='shares'>
</div>
<p class='cta'>
	<button onclick='add_share()'>+ Add Code</button>
	<button onclick='remove_share()'>- Remove Code</button>
</p>
<p class='cta'>
	<button onclick='decode()'>Decode</button>
</p>
 </div>
 
 <div class='region'>
 <h3>Decoded Message</h3>
 <textarea class='large' id='output-message'></textarea>
 </div>
 
 <footer class='region'>
 <p>This tool is provided as-is without warranty of any kind, express or implied. Refer to the <a href="https://github.com/mortoray/edaqas-secrets">project page</a> for more information, or to provide feedback.</p>
 </footer>
 
</body>
</html>
