<html>
<head>
	<meta charset='utf-8'>
	<title>Edaqa's Secret Sharing — Encode</title>
	<script>{% include 'secrets.js' %}</script>
	<script>{% include 'encoding.js' %}</script>
	<style>{% include 'style.css' %}</style>
	
	<script>
		const context = {{ context | safe }}
		function assemble_message(secret) {
			const public_message = document.getElementById('public-message').value
			const message = public_message + 
				'\n\n'+ 
				header_block + 
				'\n' + 
				secret.match(/.{1,70}/g).join('\n') + 
				'\n' + 
				footer_block + 
				'\n\n' +
				context.instructions +
				'\n\n . . . .\n' +
				context.footer
				
			return message
		}
		
		function encode() {
			const message = secrets.str2hex(document.getElementById('input-message').value)
			const names = get_names()
			const threshhold = parseInt(document.getElementById('number-required').value, 10)
			const shares = secrets.share(message, names.length, threshhold)
			
			let shares_div = document.getElementById('shares')
			while( shares_div.firstChild ) {
				shares_div.removeChild(shares_div.firstChild)
			}
			
			for (const [index, share] of shares.entries()) {
				let share_div = document.createElement('div')
				//share_div.classList.add('region')
				
				let rcpt = document.createElement('h3')
				rcpt.innerText = `For ${names[index]}`
				share_div.appendChild(rcpt)
				
				let share_text = document.createElement('textarea')
				share_text.readOnly = true
				share_text.id = `share-${index}`
				share_text.value = assemble_message(share)
				share_div.appendChild(share_text)
				
				let share_copy = document.createElement('button')
				share_copy.innerText = 'Copy'
				share_copy.onclick = () => {
					share_text.select();
					document.execCommand("copy");
				}
				share_div.appendChild(share_copy)
				
				let done = document.createElement('span')
				const done_id = `done-${index}`
				done.innerHTML = `<input id="${done_id}" type="checkbox" ><label for="${done_id}">Sent</label>`
				share_div.appendChild(done)
				
				shares_div.appendChild(share_div)
			}
			
			document.getElementById('results').style.display = 'block'
		}
		
		function get_names() {
			const names = []
			for (let index =1; index <= num_names; ++index) {
				names.push( document.getElementById(`name-${index}`).value )
			}
			return names
		}
		
		let num_names = 0 
		function add_name() {
			num_names += 1
			const child = document.createElement('input')
			child.placeholder = `Person #${num_names}`
			child.id = `name-${num_names}`
			document.getElementById('share-names').appendChild(child)			
		}
		
		function remove_name() {
			if (num_names < 1) {
				return
			}
			
			const to_remove = document.getElementById(`name-${num_names}`)
			document.getElementById('share-names').removeChild(to_remove)
			num_names -=1
		}
		
		window.onload = () => {
			add_name()
			add_name()
			add_name()
		}
		
	</script>
</head>
<body>
<div class='region'>
<h1>Edaqa's Secret Sharing</h1>
<h2>A secret sharing tool by by <a href='https://edaqa.com/'>Edaqa Mortoray</a></h2>

<p>Use this tool to allow friends, colleagues, and loved ones, gain access to your systems in case of an emergency. It allows you to break a secret into parts, and if enough recipients agree to combine their parts, the initial secret can be recovered.</p>

<div class='field'>
	<h3>Secret Message</h3>
	<div><textarea id='input-message' class='large'></textarea></div>
	<div class='info'>This contains the secret information. It should only contain data that can be revocable or changed, such as passwords or keys to documents, applications, and websites.</div>
</div>

<div class='field'>
	<h3>Public Message</h3>
	<div><textarea id='public-message' class='large'></textarea></div>
	<div class='info'>This message will *not* be encrypted, but added as a clear text header to the recipient instructions.</div>
</div>

<div class='field'>
	<h3>Who would like to share it with?</h3>
	<div>
		<span id='share-names'></span>
		<button onclick='add_name()'>+</button>
		<button onclick='remove_name()'>-</button>
	</div>
	<p class='info'>This list of people is <b>not</b> included in the message. You need to ensure they know how to find each other.</p>
</div>


<div class='field'>
	<h3>How many people are needed to decode?</h3>
	<div>
		<input id='number-required' type="number" min="2" value="2">
	</div>
	<p class='info'>This is the minimum number of people required who can combine their codes to restore the original secret.</p>
</div>

<div class='cta'>
<button onclick='encode()'>Encode</button></br>
</div>
</div>

<div class='region' id='results' style='display: none;'>
	<p>
		Download the <a href='./edaqas-secrets-decoder.html' download>decoder</a> (right-click "Save As"), attach it to the message you send to each recipient. This is important as a public decoder may not be available in the future.
	</p>
	<p>Use the "Sent" checkbox to track who've you sent the code to. Be aware that you can't regenerate codes later. Pressing "Encode" again will generate an entirely new set of codes that must be sent to the recipients.</p>
	<p>Only send messages on secure channels, such as Signal or encrypted email. Anybody who could intercept enough messages can recover the secret.</p>
	
<div id='shares'></div>
</div>

<div class='region'>
<h1>Security Features</h1>
<p>This tool is standalone, using no additional resources, and making no network requests. It can be downloaded and used offline for added security. Be sure to download the <a href='./edaqas-secrets-decoder.html' download>decoder</a> as well.</p>
<p>No reliance on third-parties. Recipients should be provided with the decoder, making the codes stable at the time they are generated.</p>
<p>The shared secrets are implement with Shamir's secret sharing algorithm. It is believed that no information about the secret is leaked until the quorom of recipients combines their codes.</p>
</div>

<footer class='region'>

<p>This tool is provided as-is without warranty of any kind, express or implied. Refer to the <a href="https://github.com/mortoray/edaqas-secrets">project page</a> for more information, or to provide feedback.</p>
</footer>

</body>
</html>
